.button {
  display: inline-flex;
  text-decoration: none;
  gap: 1ch;
  align-items: center;
  border-radius: 0.4em;
  padding: 0.2em 0.4em;
  font-size: inherit;

  &.block {
    display: flex;
  }

  &.outline {
    border: 1px solid currentColor;
  }

  &.inline {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
    display: inline;
    color: var(--link-color);

    &:hover {
      color: var(--link-color-hover);
    }
  }
}
