@view-transition {
  navigation: auto;
}

html,
body {
  min-height: 100dvh;
}

a {
  text-decoration: none;
}

.icon,
.lucide-icon {
  width: 1em;
  height: 1em;
}

ul,
li {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

svg {
  display: block;
}

p {
  text-wrap: pretty;
}

article {
  all: unset;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.1rem;
}

// Multiline tooltips
[data-tooltip] {
  border: 0;

  &::before {
    min-width: 100%;
    display: inline-block;
    white-space: collapse;
  }
}
