.spin {
  animation: infinite spin 2s linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.fade-in {
  opacity: 1;
  transition: opacity var(--ui-animation-time) ease;

  @starting-style {
    opacity: 0;
  }
}
