@layer pico, base;

@import '@picocss/pico' layer(pico);

@import './layout/index.scss' layer(base);

@layer base {
  ul,
  li {
    padding: 0;
    margin: 0;
  }

  ul li {
    list-style: none;
  }

  svg {
    display: block;
  }

  p {
    text-wrap: balanced;
  }
}
