@use '_preprocess/index' as *;

@use './tokens-light.scss';
@use './tokens-dark.scss';

// Here we put the common tokens, shared with light and dark.
:root {
  // Layout
  --ui-padding-viewport: 1rem;
  --ui-page-inline-padding: 1rem;
  --ui-page-block-padding: 6rem;

  // Timings
  --ui-animation-time: 0.25s;

  //Typography
  --ui-base-font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  // z-indexes
  --ui-z-header: 10;
}

@include bp(md) {
  :root {
    --ui-page-inline-padding: 3rem;
    --ui-page-block-padding: 1rem;
  }
}

// Light mode
:root[data-theme='light'] {
  @extend %tokens-light;
}

// Dark mode
:root[data-theme='dark'] {
  @extend %tokens-dark;
}
