@use '_preprocess/index' as *;

// Here we put the light tokens only, there should be matching tokens for dark.
// Only colors should be set here.
%tokens-light {
  color-scheme: light;

  // Globals
  --ui-global-bg: #{$stone-20};
  --ui-global-text: #{$barely-black};

  --ui-alt-mix: #{$sky-95};

  --ui-accent-color: #{$sky-80};
  --ui-accent-color-high: color-mix(in hsl, var(--ui-accent-color), var(--ui-alt-mix) 40%);

  // Buttons
  --ui-button-bg: #{$sky-90};
  --ui-button-text: #{$white};

  // Links
  --ui-link-fg: var(--ui-accent-color);
  --ui-link-fg-hover: var(--ui-accent-color-high);

  --ui-dark-primary-text: #{$vermilion-90};
  --ui-light-primary-text: #{$vermilion-10};
  --ui-lighter-primary-text: #{$vermilion-05};
}
