$white: #fff;
$almost-white: #ededed;
$barely-white: #d1d1d1;

$black: #000;
$barely-black: #242424;

$slate-05: #454545;
$slate-10: #3d3d3d;
$slate-20: #363636;
$slate-30: #2f2f2f;
$slate-40: #272727;
$slate-50: #202020;
$slate-60: #191919;
$slate-70: #111111;
$slate-80: #0a0a0a;
$slate-90: #030303;

$vermilion-05: #feeae6;
$vermilion-10: #fcc1b5;
$vermilion-20: #fa9784;
$vermilion-30: #f86d53;
$vermilion-40: #f64422;
$vermilion-50: #dd2a09;
$vermilion-60: #ac2107;
$vermilion-70: #7b1805;
$vermilion-80: #4a0e03;
$vermilion-90: #190501;

$gray-05: #f9fafb;
$gray-10: #f3f4f6;
$gray-20: #e5e7eb;
$gray-30: #d1d5db;
$gray-40: #9ca3af;
$gray-50: #6b7280;
$gray-60: #4b5563;
$gray-70: #374151;
$gray-80: #1f2937;
$gray-90: #111827;
$gray-95: #030712;

$zinc-05: #fafafa;
$zinc-10: #f4f4f5;
$zinc-20: #e4e4e7;
$zinc-30: #d4d4d8;
$zinc-40: #a1a1aa;
$zinc-50: #71717a;
$zinc-60: #52525b;
$zinc-70: #3f3f46;
$zinc-80: #27272a;
$zinc-90: #18181b;
$zinc-95: #09090b;

$neutral-05: #fafafa;
$neutral-10: #f5f5f5;
$neutral-20: #e5e5e5;
$neutral-30: #d4d4d4;
$neutral-40: #a3a3a3;
$neutral-50: #737373;
$neutral-60: #525252;
$neutral-70: #404040;
$neutral-80: #262626;
$neutral-90: #171717;
$neutral-95: #0a0a0a;

$stone-05: #fafaf9;
$stone-10: #f5f5f4;
$stone-20: #e7e5e4;
$stone-30: #d6d3d1;
$stone-40: #a8a29e;
$stone-50: #78716c;
$stone-60: #57534e;
$stone-70: #44403c;
$stone-80: #292524;
$stone-90: #1c1917;
$stone-95: #0c0a09;

$red-05: #fef2f2;
$red-10: #fee2e2;
$red-20: #fecaca;
$red-30: #fca5a5;
$red-40: #f87171;
$red-50: #ef4444;
$red-60: #dc2626;
$red-70: #b91c1c;
$red-80: #991b1b;
$red-90: #7f1d1d;
$red-95: #450a0a;

$orange-05: #fff7ed;
$orange-10: #ffedd5;
$orange-20: #fed7aa;
$orange-30: #fdba74;
$orange-40: #fb923c;
$orange-50: #f97316;
$orange-60: #ea580c;
$orange-70: #c2410c;
$orange-80: #9a3412;
$orange-90: #7c2d12;
$orange-95: #431407;

$amber-05: #fffbeb;
$amber-10: #fef3c7;
$amber-20: #fde68a;
$amber-30: #fcd34d;
$amber-40: #fbbf24;
$amber-50: #f59e0b;
$amber-60: #d97706;
$amber-70: #b45309;
$amber-80: #92400e;
$amber-90: #78350f;
$amber-95: #451a03;

$yellow-05: #fefce8;
$yellow-10: #fef9c3;
$yellow-20: #fef08a;
$yellow-30: #fde047;
$yellow-40: #facc15;
$yellow-50: #eab308;
$yellow-60: #ca8a04;
$yellow-70: #a16207;
$yellow-80: #854d0e;
$yellow-90: #713f12;
$yellow-95: #422006;

$lime-05: #f7fee7;
$lime-10: #ecfccb;
$lime-20: #d9f99d;
$lime-30: #bef264;
$lime-40: #a3e635;
$lime-50: #84cc16;
$lime-60: #65a30d;
$lime-70: #4d7c0f;
$lime-80: #3f6212;
$lime-90: #365314;
$lime-95: #1a2e05;

$green-05: #f0fdf4;
$green-10: #dcfce7;
$green-20: #bbf7d0;
$green-30: #86efac;
$green-40: #4ade80;
$green-50: #22c55e;
$green-60: #16a34a;
$green-70: #15803d;
$green-80: #166534;
$green-90: #14532d;
$green-95: #052e16;

$emerald-05: #ecfdf5;
$emerald-10: #d1fae5;
$emerald-20: #a7f3d0;
$emerald-30: #6ee7b7;
$emerald-40: #34d399;
$emerald-50: #10b981;
$emerald-60: #059669;
$emerald-70: #047857;
$emerald-80: #065f46;
$emerald-90: #064e3b;
$emerald-95: #022c22;

$teal-05: #f0fdfa;
$teal-10: #ccfbf1;
$teal-20: #99f6e4;
$teal-30: #5eead4;
$teal-40: #2dd4bf;
$teal-50: #14b8a6;
$teal-60: #0d9488;
$teal-70: #0f766e;
$teal-80: #115e59;
$teal-90: #134e4a;
$teal-95: #042f2e;

$cyan-05: #ecfeff;
$cyan-10: #cffafe;
$cyan-20: #a5f3fc;
$cyan-30: #67e8f9;
$cyan-40: #22d3ee;
$cyan-50: #06b6d4;
$cyan-60: #0891b2;
$cyan-70: #0e7490;
$cyan-80: #155e75;
$cyan-90: #164e63;
$cyan-95: #083344;

$sky-05: #f0f9ff;
$sky-10: #e0f2fe;
$sky-20: #bae6fd;
$sky-30: #7dd3fc;
$sky-40: #38bdf8;
$sky-50: #0ea5e9;
$sky-60: #0284c7;
$sky-70: #0369a1;
$sky-80: #075985;
$sky-90: #0c4a6e;
$sky-95: #083344;

$blue-05: #eff6ff;
$blue-10: #dbeafe;
$blue-20: #bfdbfe;
$blue-30: #93c5fd;
$blue-40: #60a5fa;
$blue-50: #3b82f6;
$blue-60: #2563eb;
$blue-70: #1d4ed8;
$blue-80: #1e40af;
$blue-90: #1e3a8a;
$blue-95: #172554;

$indigo-05: #eef2ff;
$indigo-10: #e0e7ff;
$indigo-20: #c7d2fe;
$indigo-30: #a5b4fc;
$indigo-40: #818cf8;
$indigo-50: #6366f1;
$indigo-60: #4f46e5;
$indigo-70: #4338ca;
$indigo-80: #3730a3;
$indigo-90: #312e81;
$indigo-95: #1e1b4b;

$violet-05: #f5f3ff;
$violet-10: #ede9fe;
$violet-20: #ddd6fe;
$violet-30: #c4b5fd;
$violet-40: #a78bfa;
$violet-50: #8b5cf6;
$violet-60: #7c3aed;
$violet-70: #6d28d9;
$violet-80: #5b21b6;
$violet-90: #4c1d95;
$violet-95: #2e1065;

$purple-05: #faf5ff;
$purple-10: #f3e8ff;
$purple-20: #e9d5ff;
$purple-30: #d8b4fe;
$purple-40: #c084fc;
$purple-50: #a855f7;
$purple-60: #9333ea;
$purple-70: #7e22ce;
$purple-80: #6b21a8;
$purple-90: #581c87;
$purple-95: #3b0764;

$fuchsia-05: #fdf4ff;
$fuchsia-10: #fae8ff;
$fuchsia-20: #f5d0fe;
$fuchsia-30: #f0abfc;
$fuchsia-40: #e879f9;
$fuchsia-50: #d946ef;
$fuchsia-60: #c026d3;
$fuchsia-70: #a21caf;
$fuchsia-80: #86198f;
$fuchsia-90: #701a75;
$fuchsia-95: #4a044e;

$pink-05: #fdf2f8;
$pink-10: #fce7f3;
$pink-20: #fbcfe8;
$pink-30: #f9a8d4;
$pink-40: #f472b6;
$pink-50: #ec4899;
$pink-60: #db2777;
$pink-70: #be185d;
$pink-80: #9d174d;
$pink-90: #831843;
$pink-95: #500724;

$rose-05: #fff1f2;
$rose-10: #ffe4e6;
$rose-20: #fecdd3;
$rose-30: #fda4af;
$rose-40: #fb7185;
$rose-50: #f43f5e;
$rose-60: #e11d48;
$rose-70: #be123c;
$rose-80: #9f1239;
$rose-90: #881337;
$rose-95: #4c0519;
