a:not([role='button']):not(.button),
[role='link'] {
  --link-hover-mix: #fff;
  color: var(--ui-link-fg);
  text-decoration: none;

  &.external::after {
    content: '☍';
  }

  &:hover {
    color: var(--ui-link-fg-hover);
  }
}
